/* /////////////////////////////////////// */
/* main background image */
header.masthead {
  background: url("../img/background.png");

}


/* /////////////////////////////////////// */
/* about text */
.text-white-50 {
  color: rgba(255, 255, 255, 0.7) !important;
}


/* /////////////////////////////////////// */
/* mastblurb text */
.text-white-75 {
  color: rgba(255, 255, 255, 0.8);
}


/* /////////////////////////////////////// */
/* navbar */
#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
  color: #212529;
  padding-left: 4rem;
}


/* /////////////////////////////////////// */
/* line dividers */
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #4B3AF4;
}
hr.light {
  border-color: #fff;
}


/* /////////////////////////////////////// */
/* about background */
.bg-primary {
  background-color: rgba(75, 58, 244, 0.9) !important;
}
.text-white {
  color: #fff !important;
}
.page-section {
  padding: 9rem 0;
}


/* /////////////////////////////////////// */
/* project hover colour */
#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
  background: rgba(75, 58, 244, 0.9);
}


/* /////////////////////////////////////// */
/* contact  */
.col-lg-8 {
  padding-bottom: 5rem;
}
